.bodyProductDetails {
    margin: 20px 15px;
}

.mainHeading {
    padding-top: 30px;
}

.mainHeading h1 {
    font-family: "Noto Sans JP", sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-size: 34px;
    font-weight: 300;
    margin: 0px;
}

.productDetailsContent {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.detailsContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headerDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #fafafa;
}

.detailsContent .headerDetails .reviews {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.detailsContent .headerDetails .reviews h2 {
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.4px;
    color: #3b3b3b;
}

.detailsContent .headerDetails .reviews div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2px;
    background-color: #4f4f4f15;
    border-radius: 25px;
    padding: 7px 0px;
    width: 55px;
}

.detailsContent .headerDetails .reviews div h3 {
    text-align: center;
    border-radius: 25px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 500;
}

.detailsContent .headerDetails .reviews div img {
    object-fit: contain;
    height: 9px;
}

.detailsContent .headerDetails .description p {
    font-family: "Roboto", sans-serif;
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.3;
}

.detailsContent .nameAndId h2 {
    font-family: "Roboto", sans-serif;
    color: #383838;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.2px;
}

.headerDetails h1 {
    color: #383838eb;
    font-size: 26px;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 0.2px;
}

.contentDetails {
    display: flex;
    gap: 10px;
}

.contentDetails button {
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    background-color: #44404210;
    width: 100%;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.4px;
}

.reviewsContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #fafafa;
}

.reviewsContent h1 {
    color: #383838;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto';
}

.reviewCardBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noReivews {
    color: #383838;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto';
}

.giveReview {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 15px;
    background-color: #fafafa;
}

.giveReview textarea {
    background-color: #44404210;
    border: none;
    resize: none;
    min-height: 90px;
    padding: 10px;
    color: #383838;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    letter-spacing: 0.2px;
    line-height: 1.3;
}

.giveReview textarea::-webkit-scrollbar {
    display: none;
}

.giveReview textarea:focus {
    outline: none;
}

.postReview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.ratingNumber {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.ratingNumber div {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.ratingNumber div h4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #44404210;
    border-radius: 50%;
    color: #383838;
    font-size: 16px;
    font-weight: 500;
}

#selectedRate h4 {
    color: #f43397;
    border: 1px solid #f4339730;
}

.postReview button {
    color: #4c4c4c;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: #44404210;
    width: 100%;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 1050px) {
    .giveReview {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) {
    .productDetailsContent{
        grid-template-columns: 1fr;
    }

    .giveReview {
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 620px) {
    .giveReview {
        grid-template-columns: 1fr;
    }
}