.orderListContainer h1 {
    text-align: center;
    font-family: "Caveat", sans-serif;
    color: #f43397;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: 0.2px;
}

.orderListTable {
    border-radius: 1px !important;
}

.orderListTable .MuiDataGrid-virtualScroller::-webkit-scrollbar {
    height: 0px;
}

.orderListTable .MuiDataGrid-columnSeparator {
    display: none !important;
}

.orderListTable .editLink {
    color: #1d5606;
    margin-right: 17px;
}

.orderListTable .deleteLink {
    color: #630d0d;
}