.profileContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 110px);
}

.profileContent {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #cf559210;
}

.profileContent .profilePicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.profileDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileDetails div {
    display: flex;
}

.profileContent div:first-child img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transition: all 0.5s;
    margin-bottom: 20px;
    object-fit: cover;
    padding: 2px;
}

.profileContent div:first-child a {
    background-color: rgb(224, 223, 223);
    border: none;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-size: 17px;
    font-weight: 400;
    padding: 7px 15px 8px 15px;
    border-radius: 2px;
    margin-top: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.profileContent .profileDetails {
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.profileContent .profileDetails div h4 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: 90px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #252525;
}

.profileContent .profileDetails div p {
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.2px;
    color: #252525;
}

.profileContent .profileDetails div:last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileContent .profileDetails div:last-child a {
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #252525;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: #dd509720;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 600px) {
    .profileDetails div {
        flex-direction: column;
    }

    .profileContent .profileDetails div h4,
    .profileContent .profileDetails div p {
        line-height: 30px;
    }
    
    .profileContent {
        margin: 15px 15px;   
        padding: 30px 15px;
    }

    .passwordbox {
        padding: 23px 15px;
    }
}