.sidebar {
    height: fit-content;
    border-radius: 1px;
}

.sidebarItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.sidebarItem a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarItem a div {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #252525;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: #dd509719;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.4px;
}

@media only screen and (max-width: 900px) {
    .sidebarItem {
        grid-template-columns: 1fr;
        gap: 5px;
    }  
}