.reviewCard {
    width: 100%;
    border-top: 1px solid #58585820;
    padding-top: 10px;
}

.reviewCard .imgAndName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ratingOfComment {
    display: flex;
    gap: 10px;
}

.reviewCard .imgAndName img {
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    width: 45px;
    height: 45px;
    border: 1px solid rgb(240, 240, 240);
}

.reviewCard .imgAndName p {
    font-family: "Roboto", sans-serif;
    color: #2f2f2fe6;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.2px;
}

.reviewCard h4 {
    font-family: "Roboto", sans-serif;
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.2px;
    line-height: 1.3;
    margin-top: 10px;
}

.reviewsItem div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2px;
    background-color: #4f4f4f15;
    border-radius: 25px;
    padding: 7px 0px;
    width: 55px;
}

.reviewCard div h3 {
    text-align: center;
    border-radius: 25px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 500;
}

.reviewsItem div img {
    object-fit: contain;
    height: 9px;
}

@media screen and (max-width: 1200px) {
    .reviewCard {
        width: 100%;
    }
}